<html>
<head>
<title>CSS 01</title>
<meta charset="utf-8"/>
</head>
<body>

<p>
    <b>Khách hàng:</b> <%= body.name %><br>
    <b>Điện thoại:</b> 0123456789<br>
    <b>Địa chỉ:</b> Số B8A Ngõ 18 Võ Văn Dũng, Hoàng Cầu, Đống Đa, Hà Nội<br>
</p>

<table border="1" cellspacing="0" cellpadding="10" bordercolor="#305eb3" width="100%">
	<tr bgcolor="#305eb3">
    	<td width="70%"><b><font color="#FFFFFF">Sản phẩm</font></b></td>
        <td width="10%"><b><font color="#FFFFFF">Số lượng</font></b></td>
        <td width="20%"><b><font color="#FFFFFF">Tổng tiền</font></b></td>
    </tr>
    <tr>
    	<td width="70%">iPhone 8 Plus</td>
        <td width="10%">1</td>
        <td width="20%">10.000.000 đ</td>
    </tr>
    <tr>
    	<td width="70%">iPhone 8 Plus</td>
        <td width="10%">1</td>
        <td width="20%">10.000.000 đ</td>
    </tr>
    <tr>
    	<td width="70%">iPhone 8 Plus</td>
        <td width="10%">1</td>
        <td width="20%">10.000.000 đ</td>
    </tr>
    <tr>
    	<td colspan="2" width="70%"></td>
        <td width="20%"><b><font color="#FF0000">30.000.000 đ</font></b></td>
    </tr>
</table>

<p>
	Cám ơn quý khách đã mua hàng tại Shop của chúng tôi, bộ phận giao hàng sẽ liên hệ với quý khách để xác nhận sau 5 phút kể từ khi đặt hàng thành công và chuyển hàng đến quý khách chậm nhất sau 24 tiếng.
</p>

</body>
</html>