<div class="sidebar">
			<a href="/admin/dashboard" class="logo">
				<i class="bx bx-code-alt"></i>
				<div class="logo-wrapper">
					<div class="logo-name">
						tungpro
						<span>Shop</span>
					</div>
					<p class="logo-description">Bán rẻ lương tâm</p>
				</div>
			</a>

			<ul class="side-menu">
				<li class=" <%= currentPage === "dashboard" && "active" %>  ">
					<a href="/admin/dashboard"><i class="bx bxs-dashboard"></i>Dashboard</a>
				</li>
				<li>
					<a href="#" class="hide"
						><i class="bx bx-group"></i>Quản lý thành viên</a
					>
				</li>
				<li>
					<a href="#" class="hide"
						><i class="bx bx-store-alt"></i>Quản lý danh mục</a
					>
				</li>
				<li class="<%= currentPage === "products" && "active" %>">
					<a href="/admin/products" class=""
						><i class="bx bx-store-alt"></i>Quản lý sản phẩm</a
					>
				</li>
				<li>
					<a href="#" class="hide"
						><i class="bx bx-message-square-dots"></i>Quản lý bình luận</a
					>
				</li>
				<li class="">
					<a href="#" class="hide"
						><i class="bx bx-analyse"></i>Quản lý quảng cáo</a
					>
				</li>
				<li>
					<a href="#" class="hide"><i class="bx bx-cog"></i>Cấu hình</a>
				</li>
			</ul>

			<ul class="side-menu">
				<li>
					<a href="/" class="logout">
						<i class="bx bx-log-out-circle"></i>
						Đăng xuất
					</a>
				</li>
			</ul>
		</div>