<div class="header">
  <div class="left">
    <h1><%= title%></h1>
    <ul class="breadcrumb">
      <li><a href="#" class="hide"> <%= breadcrumb[0] %> </a></li>
      /
      <li><a href="/admin/products/" class="active"><%= breadcrumb[1] %></a></li>
    </ul>
  </div>
  <a href="#" class="report">
    <i class="bx bx-cloud-download"></i>
    <span>Download CSV</span>
  </a>
</div>