*{
    margin: 0;
    padding: 0;
}
#menu{
    font-family: arial;
    margin: 50px auto;
    width: 400px;
    height: auto;
    background: #222;
}
#menu h3{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #999;
    text-align: center;
    background: #111;
}
.menu-item{
    height: 40px;
    line-height: 40px;
    list-style: none;
    font-size: 14px;
    padding: 0 10px;
    border-bottom: 1px solid #333;
}
.menu-item:hover{
    cursor: pointer;
}
.menu-item:hover a{
    color: #FFF;
}
.menu-item a{
    color: #999;
    text-decoration: none;
}