<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- <link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous"
		/> -->
		<link
			href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="dashboard.css" />
		<title>New Dashboard design | Add Product</title>
	</head>
	<body>
		<!-- Sidebar -->
		<div class="sidebar">
			<a href="#" class="logo">
				<i class="bx bx-code-alt"></i>
				<div class="logo-wrapper">
					<div class="logo-name">
						tungpro
						<span>Shop</span>
					</div>
					<p class="logo-description">Bán rẻ lương tâm</p>
				</div>
			</a>

			<ul class="side-menu">
				<li>
					<a href="#" class="hide"><i class="bx bxs-dashboard"></i>Dashboard</a>
				</li>
				<li>
					<a href="#" class="hide"
						><i class="bx bx-group"></i>Quản lý thành viên</a
					>
				</li>
				<li>
					<a href="#" class="hide"
						><i class="bx bx-store-alt"></i>Quản lý danh mục</a
					>
				</li>
				<li class="active">
					<a href="#" class=""
						><i class="bx bx-store-alt"></i>Quản lý sản phẩm</a
					>
				</li>
				<li>
					<a href="#" class="hide"
						><i class="bx bx-message-square-dots"></i>Quản lý bình luận</a
					>
				</li>
				<li class="">
					<a href="#" class="hide"
						><i class="bx bx-analyse"></i>Quản lý quảng cáo</a
					>
				</li>
				<li>
					<a href="#" class="hide"><i class="bx bx-cog"></i>Cấu hình</a>
				</li>
			</ul>

			<ul class="side-menu">
				<li>
					<a href="#" class="logout">
						<i class="bx bx-log-out-circle"></i>
						Đăng xuất
					</a>
				</li>
			</ul>
		</div>
		<!-- End of Sidebar -->

		<!-- Main Content -->
		<div class="content">
			<!--Nav bar-->
			<nav>
				<i class="bx bx-menu"></i>
				<form action="#">
					<div class="form-input">
						<input
							type="search"
							name=""
							id=""
							placeholder="Tìm kiếm (chức năng chưa hoàn thành) ..."
						/>
						<button class="search-btn" type="submit">
							<i class="bx bx-search"></i>
						</button>
					</div>
				</form>
				<input type="checkbox" id="theme-toggle" hidden />
				<label for="theme-toggle" class="theme-toggle"></label>
				<a href="#" class="notif">
					<i class="bx bx-bell"></i>
					<span class="count">12</span>
				</a>
				<a href="#" class="profile" onclick="toggleMenu()">
					<img src="./images/user_profile.png" alt="" />
				</a>



				<div class="sub-menu-wrap" id="sub-menu">
					<div class="sub-menu">
						<div class="user-info">
							<img src="./images/user_profile.png" alt="" />
							<h3>Đinh Nguyễn Sơn Tùng</h3>
						</div>
						<hr />
						<a
							href="http://"
							class="sub-menu-links"
							target="_blank"
							rel="noopener noreferrer"
						>
							<img src="./images/drop-down/profile.png" />
							<p>Sửa thông tin cá nhân</p>
							<span>></span>
						</a>
						<a
							href="http://"
							class="sub-menu-links"
							target="_blank"
							rel="noopener noreferrer"
						>
							<img src="./images/drop-down/help.png" />
							<p>Hỗ trợ</p>
							<span>></span>
						</a>
						<a
							href="http://"
							class="sub-menu-links"
							target="_blank"
							rel="noopener noreferrer"
						>
							<img src="./images/drop-down/logout.png" />
							<p>Thoát ra</p>
							<span>></span>
						</a>
					</div>
				</div>
			</nav>
			<!-- End of Nav Bar-->

			<main>
				<div class="header">
					<div class="left">
						<h1>Thêm mới sản phẩm</h1>
						<ul class="breadcrumb">
							<li><a href="#" class="hide"> Dashboard </a></li>
							/
							<li><a href="#" class="active">Thêm mới sản phẩm</a></li>
						</ul>
					</div>
					<a href="#" class="report">
						<i class="bx bx-cloud-download"></i>
						<span>Download CSV</span>
					</a>
				</div>
			</main>

			<div class="row">
					<div class="add-product">
						<div class="panel panel-default">
							<div class="panel_two_column">
								<div class="panel-body">
									<!-- Add product -->
									<div class="form-container">
										<div class="form-header">
											<h2>Thông tin cơ bản</h2>
										</div>
										<div class="column left">
											<form role="form" method="post" enctype="multipart/form-data">
											<div class="form-group">
												<label>Tên sản phẩm</label>
												<input required name="prd_name" class="form-control" placeholder="">
											</div>
																			
											<div class="form-group">
												<label>Giá sản phẩm</label>
												<input required name="prd_price" type="number" min="0" class="form-control">
											</div>
											<div class="form-group">
												<label>Bảo hành</label>
												<input required name="prd_warranty" type="text" class="form-control">
											</div>    
											<div class="form-group">
												<label>Phụ kiện</label>
												<input required name="prd_accessories" type="text" class="form-control">
											</div>                  
											<div class="form-group">
												<label>Khuyến mãi</label>
												<input required name="prd_promotion" type="text" class="form-control">
											</div>  
											<div class="form-group">
												<label>Tình trạng</label>
												<input required name="prd_new" type="text" class="form-control">
											</div>  
											
										</div>
											
											
									
									</div>
								</div>

								<div class="panel-body">
									<div class="form-container">
										<div class="form-header">
											<h2>Thông tin cơ bản</h2>
										</div>
									</div>
									<div class="form-group">
										<label>Ảnh sản phẩm</label>
										
										<input required name="prd_image" type="file">
										<br>
										<div>
											<img src="img/download.jpeg">
										</div>
									</div>
									<div class="form-group">
										<label>Danh mục</label>
										<select name="cat_id" class="form-control">
											<option value=1>iPhone</option>
											<option value=2>Samsung</option>
											<option value=3>Nokia</option>
											<option value=4>LG</option>
										</select>
									</div>
									
									<div class="form-group">
										<label>Trạng thái</label>
										<select name="prd_status" class="form-control">
											<option value=1 selected>Còn hàng</option>
											<option value=0>Hết hàng</option>
										</select>
									</div>
									
									<div class="form-group">
										<label>Sản phẩm nổi bật</label>
										<div class="checkbox">
											<label>
												<input name="prd_featured" type="checkbox" value=1>Nổi bật
											</label>
										</div>
									</div>
									<div class="form-group">
											<label>Mô tả sản phẩm</label>
											<textarea required name="prd_details" class="form-control" rows="3"></textarea>
										</div>

									
										<div class="btn-layout">
											<button name="sbm" type="submit" class="btn btn-export">Thêm mới</button>
											<button type="reset" class="btn">Clear</button>
										</div>
								</div>
							</div>
						</div>
					</div>
				
			</div>
			<!--/.row-->
		</div>

		<script src="dashboard.js"></script>
	</body>
</html>
