:root {
  --color-white: #f5f5f5;
  --color-black: #333;
  --color-banner-red: #cd020b;

  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --transition: all 400ms ease;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: var(--color-white);
  color: #222;
}

header{
  background-color: var(--white);
}

#global-banner {
  background-color: var(--color-banner-red);
  height: auto;
  width: 100%;
  text-align: center;
}

#header-top-left,
#header-top-right {
  height: 30px;
  line-height: 30px;
}

#header-top a {
  font-size: 12px;
  text-decoration: none;
  list-style: none;
  color: var(--color-black);
  font-weight: bolder;
  transition: var(--transition);
}

#header-top i {
  color: var(--danger);
  padding-right: 4px;
}

#header-top a:hover {
  color: var(--red);
}

#header-top-right {
  text-align: right;
}

#header-top-right a {
  margin-left: 45px;
}

#header__main-top-left {
  width: 304px !important;
}

#header__main-top {
  display: flex;
  padding: 10px 0;
}

#header__main-top-center {
  padding-top: 23px;
}

#header__main-top-right {
  padding-left: 20px;
  padding-top: 13px !important;
}

#header__main-top-right a {
  line-height: 18px;
}

/* === Container === */
.container {
  padding: 0 8px !important;
  width: 100%;
  max-width: 1256px;
  margin-left: auto;
  margin-right: auto;
}

.fa-magnifying-glass {
  -webkit-text-stroke: 0.5px white;
  font-size: 18px;
}

.input-group,
.btn-search {
  color: white;
  border: 0;
  border-radius: 12px;
}

.text-search {
  background-color: #F5F5F5;
  border-radius: 9px;
  height: 42px;
  padding-left: 13px;
}

.btn-search {
  background: #ee2e24;
  padding: 0 15px;
}

.order-tracking a,
.icon-user a {
  display: block;
  position: relative;
  padding-left: 40px;
  color: var(--color-black);
  font-weight: bold;
  text-decoration: none;
}

#header__main-top-right a:hover {
  color: #ee2e24;
  transition: var(--transition);
}

.icon-user a:nth-child(2) {
  font-weight: 100;
}

.order-tracking a::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background: url("../images/sprite.png") no-repeat -6px -7px;
  top: 0;
  left: 0;
  transition: var(--transition);
}
.icon-user a:first-child::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background: url("../images/sprite.png") no-repeat -51px -7px;
  top: 0;
  left: 0;
  transition: var(--transition);
}

.order-tracking a:hover::before,
.icon-user a:hover::before {
  top: -5px;
}

.fa-cart-shopping {
  position: relative;
  font-size: 26px;
}

.cart-quantity-counter {
  position: absolute;
  background-color: var(--dark);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  font-weight: bolder;
  top: -9px;
  right: -7px;
}

/* === Header Bottom === */


.header__bottom-left {
  position: relative;
  background-color: #ee2e24;
  color: var(--white);
  display: block;
  line-height: 40px;
  

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title {
  margin: 0;
  font-size: 19px;
  font-weight: bolder;
}

.header__bottom-left i {
  font-weight: bolder;
  font-size: 20px;
  margin-right: 5px;
}

.header__bottom-right {
  display: flex;
  align-items: center;
  justify-content: end;
  /* margin-left: 20px; */
}

/* .header__bottom-right .header__bottom-container {
  padding: 0 8px;
  width: calc(100% - 312px);
} */

.header__bottom-right a {
  position: relative;
  text-decoration: none;
  color: var(--color-black);
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}

.header__bottom-right a::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: -2px;
  left: 0;
}

.icon-deal::before {
  background: url("../images/sprite.png") no-repeat -6px -53px;
}

.icon-gift::before{
  background: url("../images/sprite.png") no-repeat -56px -53px;
  top: -4px !important;
}

.icon-box::before{
  background: url("../images/sprite.png") no-repeat -113px -53px;
  top: -4px !important;
}

.icon-phone::before{
  background: url("../images/sprite.png") no-repeat -165px -54px;
  top: -4px !important;
}

.hotline-num {
  font-size: 18px;
  color: rgb(239,46,46);
  font-weight: 800;
}

/* === Menu List === */

.header-menu-list {
  position: absolute;
  height: fit-content;
  /* height: 396px; */

  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}

.fa-bars{
  color: #fff !important;
  font-weight: bolder !important;
  margin-left: 10px;
}
.list-group {
  width: 310px;
  border-radius: 0;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  
}

.list-group-item {
  padding: 1px 7px 1px 7px;
  position: unset;
  /* padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px; */
}

.list-group-item > .menu-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 8px; */
  padding-right: 0px;
  height: 32px;
}

#header-top .list-group-item > .menu-left a {
  padding: 0 10px 0 3px;
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  white-space: nowrap;
  text-overflow: ellipsis; 
  overflow: hidden;
  flex: 1
}

.list-group-item > .menu-left > img {
  width: 30px;
  height: 100%;
  margin-right: 5px;
}

.fa-angle-right{
  margin-left: 5px;
  width: 10px !important;
  font-weight: bold !important;
  color: #c9c9c9 !important;
  font-size: 14px !important;
}


/* === MENU RIGHT === */
.menu-right {
  background-color: var(--white);
  display: none;
  position: absolute;
  top: 0;
  
  left: 310px;
  width: 936px !important;
  border-radius: 0 0 10px 10px;
  /* display: flex; */
  gap: 0px;
  padding: 15px;


  overflow: auto;
  flex-wrap:wrap;
  height: 100%;
}

.sub-menu-item{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 17px;
  width: 25%;
  line-height: 30px;
}

#header-top .sub-menu-item > a {
  line-height: 18px;
  font-size: 14px; 
  margin-bottom: 5px;
  color: #333;
}

.cat-3-list {
  line-height: 21px;

}

#header-top .header-menu-list .menu-right {
  
}

#header-top .header-menu-list .cat-3-list a {
  font-weight: normal;
  display: block;
  
  transition: all .2s ease;
}



/* Cancel + Overwrite class */
.popover {
  max-width: none;
  max-height: none;
}

.dropdown-menu {
  padding: 0px;
}