<h1>Welcome EJS</h1>

<!-- <% var a = 10; %> <%=a%>  -->

<!-- Không tạo biến ở Views mà đẩy từ Controller sang-->

<% if (a > 9) { %>
<h3>a = 10 OK!</h3>
<%}%>

<% for (let i = 0; i <= 10; i++) { %>
	<h5>Đây là vòng lặp thứ </h5>

    <h1><%=data%></h1>
<% } %>

<%- include("./admin/test_2")%>