body{
    font-family: Arial;
    font-size: 13px;
    color:#333;
    background: #f5f5f5
}
/* #menu{
    position: relative;
} */
#menu ul{
    position: relative;
    background: #ffffff;
    list-style: none;
    padding-left: 0;
    margin: 0 -5px;
}
#menu>ul>li{

    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #adadad;
    padding: 0 20px;
    box-sizing: content-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#menu>ul>li a{
    text-decoration: none;
    color: #333;
}
/* #menu ul>li>i{
    position: absolute;
    top: 8px;
    right: 5px;
    color: #000000;
} */

a > img{
    /* background-color: red; */
    margin: 10px 10px 0 0;
}

#menu ul>li {
    display: flex;
    align-items: center;
}
#menu ul>li>i {
    margin-left: auto;
    color: #000000;
}

.sub-menu{
    position: absolute;
    width: calc(1240px - 285px);
    background-color:white;
    top: 0;
    left: 420px;
    box-shadow: 0 0 8px 0 rgb(42, 4, 4);    
}
.sub-menu ul{
    background: none;
    text-transform: uppercase;

}
.sub-menu ul li{
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
#menu>ul>li:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}
#menu>ul>li:hover>a{
    color: red;
    font-weight: bold;
}
#menu>ul>li ul>li:hover a{
    color: red;
}
#menu li ul{
    display: none;
}
#menu li:hover ul{
    display: block;
}

@media only screen and (max-width: 767px) {
    #menu {
        width: 100%; /* Make the menu take up the full width */
    }
    .sub-menu {
        width: 100%; /* Make the sub-menu take up the full width */
        left: 0; /* Reset the left position */
    }
}