* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 25px;
    margin-bottom: 0px;
}

.image-gallery img {
    margin: 10px;
}

.image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    padding: 15px;
    text-align: center;
}

.rounded-corner {
    width: 200px;
    border-radius: 20px;
}
.square {
    width: 200px;
}
.circle {
    width: 200px;
    border-radius: 100%;
}

.rounded-corner-search {
    height: 30px;
    border-radius: 6px;
    border-color: #b5b5b5;
    border-width: 1px;
    border-style:solid;    
}

.text-input, .challenge-exercise{
    display: block;
    white-space: pre-line;
}

.google-search-box {
    margin-top: 15px;
    width: 500px;
    height: 30px;
    border-radius: 14px;
    border:none;
    box-shadow: 0px 2px 5px #b5b5b5;
    cursor:pointer;
    /* font-family: 'Roboto' */
}

.LinkedIn-sign-up input {
    width: 400px;
    height: 28px;
    margin-top: 8px;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
}

.LinkedIn-sign-up .description {
    width: 500px;
    text-align: left;
    padding-left: 0;
    padding-top: 5px;
    margin-bottom: 0;
    padding: 0;
    opacity: .7;
}

.LinkedIn-sign-up button {
    color: white;
    background-color: #2C64BC;
    height: 45px;
    width: 400px;
    border-radius: 80px;
    border:none;
}

.Twitter {
    display: flex;
    align-items: center;
    justify-content: baseline;
    /* align-items: center; */
}

.Twitter .profile-icon img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.Twitter div {
    margin-right: 10px;
}

.Twitter > .status-input > .status  {
    border: none;
    letter-spacing: 2px;
    width: 230px;
    font-family: Arial;
    padding-left: 8px;;
}

.Tweet-button button {
    background-color: #3e83c9;
    color: white;
    border-radius: 15px;
    border: none;
    width: 60px;
    height: 30px;

}