html {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0;
    padding: 0 0;

}

body {
    height: 3000px;
}

h1 {
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 8.5px;
    /* border-bottom-style: solid;
    border-bottom-color: white; */
}

h2 {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: thin;
}

.user-interface {
    background-color: brown;
    border-radius: 5px;
    height: 300px;
    width: 500px;
    position: relative;
}

.button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 22;
    font-weight: thin;
    cursor: pointer;
}

.user-interface2 {
    margin: 18 30;
    background-color: rgb(138, 112, 112);
    border-radius: 5px;
    height: 300px;
    width: 500px;
    position: relative;
}
.button2 {
    position: absolute;
    top: -10;
    left: -15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    font-size: 15;
    font-weight: thin;
    cursor: pointer;
}

.button:hover{
    background-color: blue;
    transition: background-color 0.2s;
}

.sticky {
    position: fixed;
    background-color: rgba(255, 218, 185, 0.862);
    width: 320px;
    height: 180px;
    opacity: 35%;
    right: 35px;
    bottom: 35px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.time-stamp {
    position:absolute;
    right: 30px;
    bottom: 20px;
    padding: 5 8;
    border-radius: 3px;
    border: none;
    background-color: black;
    color: white;
    font-weight: 500;
    font-family: Roboto;
}

.product-container{
    position:relative;
    width: 300px;
    height: 300px;
    margin: 18 30;
    object-fit: cover;
}

.product-container > img {
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: -100px;

}

.black {
    position: absolute;
    background-color: black;
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 25%;
}

.sale-tag{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: black;
    color: white;
    padding: 8 12;
    font-family: 'Arial';
    font-size: 14px;
}

.add-to-cart {
    background-color: white;
    position: absolute;
    height: 80;
    bottom: 0;
    right:0;
    left: 0;
    
    display:flex;
}

.add-to-cart-button{
    
    margin: auto;
    vertical-align: middle;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 10 15;
    background-color: white;
    font-weight: bold;
}

