*{
    margin: 0;
    padding: 0;
}
#products{
    margin: 50px auto;
    text-align: center;
}
#small{
    height: 90px;
    line-height: 90px;
}
#small img{
    width: 60px;
    height: 80px;
    margin: 0 5px;
    box-sizing: border-box;
    padding: 5px;
}
#small img.active{
    border: 2px solid #B4042A;
}