<!--	Header	-->
<div id="header">
  <div class="container">
    <div class="row">
      <div id="logo" class="col-lg-3 col-md-3 col-sm-12">
        <h1><a href="/home"><img class="img-fluid" src="/static/site/images/logo.png"></a></h1>
      </div>
      <div id="search" class="col-lg-5 col-md-5 col-sm-12">
        <form class="form-inline">
          <input class="form-control mt-3" type="search" placeholder="Tìm kiếm" aria-label="Search">
          <button class="btn btn-danger mt-3" type="submit">Tìm kiếm</button>
        </form>
      </div>
      <div class="cart col-lg-2 col-md-2 col-sm-12 text-center">
        <a class="mt-3" href="#">giỏ hàng</a>
        <span class="badge badge-danger mt-3">8</span>
      </div>
      <div class="admin-link col-lg-2 col-md-2 col-sm-12 text-center">
        <a class="mt-3" href="/admin/dashboard">Trang quản trị</a>
      </div>
    </div>
  </div>
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#menu">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
<!--	End Header	-->