html {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0;
    padding: 0 0;

}

h1 {
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 8.5px;
    /* border-bottom-style: solid;
    border-bottom-color: white; */
}

h2 {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: thin;
}