*{
    margin: 0;
    padding: 0;
}
#menu{
    font-family: arial;
    font-size: 14px;
    width:1140px;
    height:auto;
    background: #FF9600;
    margin: 50px auto;
    overflow: hidden;
}
.menu-item{
    float: left;
    height: 50px;
    line-height: 50px;
    list-style: none;
    padding: 0 30px;
    box-sizing: border-box;
}
.menu-item a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}
.menu-item:hover{
    background:orangered;
    cursor: pointer;
}
.menu-item:hover a{
    color: #333;
}