<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="podo_sample.css" />
  <title>Pomodoro Timer</title>
</head>
<body>
    <div class="modes">
        <a class="mode" href="#" data-time="1500">pomodoro</a>
        <a class="mode" href="#" data-time="300">short break</a>
        <a class="mode" href="#" data-time="900">long break</a>
    </div>
    
    <!-- <div class="get-started">
        <p>Click a mode to get started</p>
    </div> -->
    <h1 class="main-heading">Pomodoro clock</h1>
    <h3>by Thomas Dinh</h3>
    
  <main>
    <div class="pomodoro">
      <h1 class="pomodoro__time">60:00</h1>
    </div>
  </main>

  
  <script src="src/index.js"></script>
</body>
</html>